﻿@model  WebProje.Models.AnaSayfaModeller
@{
    Layout = null;
}

<!DOCTYPE html>
@foreach (var item in Model._ilan)
{
    <p>@item.Adres</p>

<div id="fh5co-pricing">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Son İlanlar</h2>
            </div>
        </div>
        <div class="row">
            <div class="pricing">
                <div class="col-md-3 animate-box">
                    <div class="price-box">
                        <h2 class="pricing-plan">>@item.IlanTipi</h2>
                        <div class="price"@item.KurumAdi</div>
                        <ul class="classes">
                            <li> Adres : @item.Adres</li>
                            <li class="color">İlan Tarihi :@item.Tarih</li>
                            <li>Web Sitesi :@item.WebSitesi</li>
                            <li class="color">Telefon :@item.Telefon</li>
                            <li>İlanı veren Kişi :@item.KisiAdi</li>
                            <li class="color">Açıklamalar : @item.Aciklamalar</li>
                            <li><img src="~/@item.Fotograf1" alt="user"></li>
                            <li><img src="~/@item.Fotograf2" alt="user"></li>
                            <li><img src="~/@item.Fotograf3" alt="user"></li>



                        </ul>
                        <a href="#" class="btn btn-select-plan btn-sm">İncele</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}