﻿@model  WebProje.Models.AnaSayfaModeller
@{
    ViewBag.Title = "ApartBul";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="fh5co-pricing">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">

              
                <h2>APART İLANLARI</h2>
            </div>
        </div>
        <div class="row">
            <div class="pricing">

                @foreach (var item in Model._ilan)
                {
                    if (item.IlanTipi == "Apart")
                    {
                        <div class="col-md-3 animate-box">
                            <div class="price-box">
                                <h2 class="pricing-plan">@item.KurumAdi</h2>
                                <div class="price"><img src="@item.Fotograf1" alt="user" height="250" width="200"></div>
                                <ul class="classes">
                                    <li>@item.IlanTipi</li>
                                    <li class="color">@item.Telefon</li>
                                    <li>:@item.WebSitesi</li>
                                    <li class="color">@item.Adres</li>

                                </ul>
                                <a href="@Url.Action("Details","IlanVers", new { id = item.ID })" class="btn btn-select-plan btn-sm">İlanı İncele</a>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</div>