﻿@{
    ViewBag.Title = "Iletisim";
}

   @*<div id="map" class="fh5co-map"></div>*@
<!-- END map -->

<div id="fh5co-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-push-1 animate-box">

                <div class="fh5co-contact-info">
                    <h3>İletişim Bilgiler</h3>
                    <ul>
                        <li class="address">Orta Mahalle Adapazarı/SAKARYA</li>
                        <li class="phone"><a href="tel://+905373467800">+90 537 346 78 00</a></li>
                        <li class="email"><a href="mailto:mrtzdmrr@gmail.com">mrtzdmrr@gmail.com</a></li>
                        <li class="url"><a href="http://mrtzdmrr.com">www.mrtzdmrr.com</a></li>
                    </ul>
                </div>
            </div>


            <div class="col-md-5 col-md-push-1 animate-box">

                <div class="fh5co-contact-info">
                    <h3>Sosyal Medya </h3>
                    <ul>
                        <li class="icon-instagram"><a href="https://www.instagram.com/">mrtzdmrr</a></li>
                        <li class="icon-twitter"><a href="https://twitter.com/?lang=tr">ozdemirmurat14</a></li>
                        <li class="icon-facebook"><a href="https://www.facebook.com/murat.ozdemir.338">Murat Özdemir</a></li>
                        <li class="icon-linkedin"><a href="https://www.linkedin.com/home?trk=nav_responsive_tab_home">Murat Özdemir</a></li>
                    </ul>
                </div>
            </div>
          
        </div>

    </div>
</div>
