﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    @*<li>@Html.ActionLink("Türkçe","Change","Language" , new {LanguageAbbrevation = "tr" },null)</li>
    <li>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null)</li>*@
  <h1>DİL DEĞİŞTİRİLDİ    /     LANGUAGE WAS CHANGED</h1>
   <p>@Html.ActionLink("Anasayfaya Devam Et / Go To HomePage", "Index", "Home")</p>



