﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ADMİN PANELİ</h2>

<div id="fh5co-schedule" class="fh5co-bg" style="background-image: url(/images/img_bg_1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>@Html.ActionLink("Arkadas Tablosu", "Index", "Arkadas")</h2>
            </div>
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>@Html.ActionLink("Ilan Tablosu", "Index", "IlanVers")</h2>
            </div>
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>@Html.ActionLink("Yorum Tablosu", "Index", "Yorums")</h2>
            </div>
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>@Html.ActionLink("Rol Yönetimi", "Index", "RolYonetimi")</h2>
            </div>

        </div>
    </div>
</div>
@*<div class="row animate-box">

        <div class="fh5co-tabs">
            <ul class="fh5co-tab-nav">
                <li class="active"><a href="#" data-tab="1"><span class="visible-xs">S</span><span class="hidden-xs">Sunday</span></a></li>
                <li><a href="#" data-tab="2"><span class="visible-xs">M</span><span class="hidden-xs">Monday</span></a></li>
                <li><a href="#" data-tab="3"><span class="visible-xs">T</span><span class="hidden-xs">Tuesday</span></a></li>
                <li><a href="#" data-tab="4"><span class="visible-xs">W</span><span class="hidden-xs">Wednesday</span></a></li>
                <li><a href="#" data-tab="5"><span class="visible-xs">Th</span><span class="hidden-xs">Thursday</span></a></li>
                <li><a href="#" data-tab="6"><span class="visible-xs">F</span><span class="hidden-xs">Friday</span></a></li>
                <li><a href="#" data-tab="7"><span class="visible-xs">S</span><span class="hidden-xs">Saturday</span></a></li>
            </ul>
             Tabs
            <div class="fh5co-tab-content-wrap">
                <div class="fh5co-tab-content tab-content active" data-tab-content="1">
                    <ul class="class-schedule">
                        <li class="text-center">
                        @Html.ActionLink("Arkadas Tablosu", "Index", "Arkadas")
                        </li>
                        <li class="text-center">
                        @Html.ActionLink("Ilan Tablosu", "Index", "IlanVers")
                        </li>
                        <li class="text-center">
                        @Html.ActionLink("Yorum Tablosu", "Index", "Yorums")
                        </li>

                    </ul>
                </div>
                <div class="fh5co-tab-content tab-content active" data-tab-content="2">
                    <ul class="class-schedule">

                        <li class="text-center">
                            @Html.ActionLink("Arkadas Tablosu", "Index", "Arkadas")
                        </li>
                        <li class="text-center">
                            @Html.ActionLink("Ilan Tablosu", "Index", "IlanVers")
                        </li>
                        <li class="text-center">
                            @Html.ActionLink("Yorum Tablosu", "Index", "Yorums")
                        </li>

                    </ul>
                </div>
                <div class="fh5co-tab-content tab-content active" data-tab-content="3">
                    <ul class="class-schedule">
                        <li class="text-center">
                            <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                            <span class="time">7:00 AM - 8AM</span>
                            <h4>Cardio</h4>
                            <small>Angel Adams</small>
                        </li>

                    </ul>
                </div>
                <div class="fh5co-tab-content tab-content active" data-tab-content="4">
                    <ul class="class-schedule">

                        <li class="text-center">
                            <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                            <span class="time">9:00 AM - 11AM</span>
                            <h4>Body Building</h4>
                            <small>Angel Adams</small>
                        </li>

                    </ul>
                </div>
                <div class="fh5co-tab-content tab-content active" data-tab-content="5">
                    <ul class="class-schedule">

                        <li class="text-center">
                            <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                            <span class="time">7:00 AM - 8AM</span>
                            <h4>Cardio</h4>
                            <small>Angel Adams</small>
                        </li>
                    </ul>
                </div>
                <div class="fh5co-tab-content tab-content active" data-tab-content="6">
                    <ul class="class-schedule">

                        <li class="text-center">
                            <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                            <span class="time">7:00 AM - 8AM</span>
                            <h4>Cardio</h4>
                            <small>Angel Adams</small>
                        </li>
                    </ul>
                </div>
                <div class="fh5co-tab-content tab-content active" data-tab-content="7">
                    <ul class="class-schedule">
                        <li class="text-center">
                            <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                            <span class="time">7:00 AM - 8AM</span>
                            <h4>Cardio</h4>
                            <small>Angel Adams</small>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>*@
