﻿@using WebProje.Models
@model WebProje.Models.Yorum

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 style="text-align:center">Create</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="text-align:center">Yorum Yap</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        
         <div class="row form-group">
            <div class="col-md-12">
                @*@Html.LabelFor(model => model.Yorum1, htmlAttributes: new { @class = "control-label col-md-", @style= "text-align:center" })*@
                    @Html.TextAreaFor(model => model.Yorum1, new { @class = "form-control text-box single-line", @placeholder = "Yorum", rows = "5", required = "required" })
                    @Html.ValidationMessageFor(model => model.Yorum1, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.Tarih, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tarih, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tarih, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                <div style="text-align:center" class="col-md-12">
                     
                    <input type="submit" value="Create" class="btn btn-primary "  />
                </div>
            </div>
        </div>
}



<div>
@{ 
    ApplicationDbContext db = new ApplicationDbContext();
    List<Yorum> yorumlar = db.Yorums.OrderByDescending(x => x.Tarih).ToList();


}
    @Html.Partial("_YorumGoster",yorumlar)

</div>
        @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
