﻿@model WebProje.Models.Yorum
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Yorum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Yorum1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yorum1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

    </dl>
</div>

@if (Model.Kullanicilar.Id == User.Identity.GetUserId())
{

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }))
    </p>
}