﻿@model IEnumerable<WebProje.Models.Yorum>

@{
    ViewBag.Title = "Yorum Tablosu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yorum Tablosu</h2>

<p>
    @Html.ActionLink("Kayıt Ekle", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Yoruma Göre Ara : @Html.TextBox("Arama")
        <input type="submit" value="Ara" />

    </p>

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Yorum1)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Tarih)*@
            @Html.ActionLink("Tarih", "Index", new { siralama = ViewBag.DateSortParm })


        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Yorum1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.ID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
