﻿@model WebProje.Models.IlanModel
@*//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Resim boşsa veya Büyükse Hata veriyor !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*@

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6 animate-box">
    <h3 style="text-align:center">İlan Ver</h3>
@using (Html.BeginForm("Create", "IlanVers", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

      <div class="row form-group">
            <div class="col-md-6">

                @Html.LabelFor(model => model.KisiAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.KisiAdi, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.KisiAdi, "", new { @class = "text-danger" })

                </div>
            <div class="col-md-6" >
                @Html.LabelFor(model => model.KurumAdi, htmlAttributes: new { @class = "control-label col-md-2" })




                @Html.EditorFor(model => model.KurumAdi, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.KurumAdi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">


                @Html.LabelFor(model => model.IlanTipi, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.DropDownListFor(model => model.IlanTipi,  new SelectListItem[]{
                new SelectListItem() {Text = "Yurt", Value="Yurt"},
                new SelectListItem() {Text = "Apart", Value="Apart"}},new { @class = "form-control", required = "required" })
                @*@Html.EditorFor(model => model.IlanTipi, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                @Html.ValidationMessageFor(model => model.IlanTipi, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.WebSitesi, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.WebSitesi, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.WebSitesi, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
           @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                @*@Html.TextAreaFor(model => model.Adres, new { @class = "form-control text-box single-line", rows = "5", required = "required" })*@
                @Html.DropDownListFor(model => model.Adres, new SelectListItem[]{
                new SelectListItem() {Text = "Adapazarı", Value="Adapazarı"},
                new SelectListItem() {Text = "Arifiye", Value="Arifiye"},
                new SelectListItem() {Text = "Hendek", Value="Hendek"},
                new SelectListItem() {Text = "Karasu", Value="Karasu"},
                new SelectListItem() {Text = "Sapanca", Value="Sapanca"},
                new SelectListItem() {Text = "Serdivan", Value="Serdivan"}}, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
        </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Aciklamalar, htmlAttributes: new { @class = "control-label col-md-2" })
                @*@Html.TextAreaFor(model => model.Aciklamalar, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.TextAreaFor(model => model.Aciklamalar, new { @class = "form-control text-box single-line", @placeholder = "Ek özelikleri yazınız Örn:Havuz", rows = "5", required = "required" })
                    @Html.ValidationMessageFor(model => model.Aciklamalar, "", new { @class = "text-danger" })
                </div>
        </div>


        <div class="row form-group">
            <div class="col-md-12">
            @Html.LabelFor(m => m.Foto1, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Foto1, new { @class = "form-control", placeholder = "Resim Yolu", type = "file", required = "required" })
                @Html.ValidationMessageFor(model => model.Foto1, "", new { @class = "text-danger" })


            </div>
        </div>


        <div class="row form-group">
            <div class="col-md-12">
            @Html.LabelFor(m => m.Foto2, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Foto2, new { @class = "form-control", placeholder = "Resim Yolu", type = "file", required = "required" })
                @Html.ValidationMessageFor(model => model.Foto2, "", new { @class = "text-danger" })


            </div>
        </div>


        <div class="row form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Foto3, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.Foto3, new { @class = "form-control", placeholder = "Resim Yolu", type = "file" , required = "required" })
                @Html.ValidationMessageFor(model => model.Foto3, "", new { @class = "text-danger" })


            </div>
        </div>





        <div class="form-group">
            <input type="submit" value="Yayınla" class="btn btn-primary"  style="margin-left:250px">
        </div>





}
</div>
			












@*<h2>Create</h2>

@using (Html.BeginForm("Create", "IlanVers", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>IlanVer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IlanTipi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IlanTipi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IlanTipi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
            </div>
        </div>*@


@*silinebilir............................................*@
        @*<div class="form-group">
                @Html.LabelFor(model => model.Tarih, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tarih, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tarih, "", new { @class = "text-danger" })
                </div>
            </div>*@
@*silinebilir.............................................*@


        @*@*<div class="form-group">
            @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WebSitesi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WebSitesi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WebSitesi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KurumAdi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KurumAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KurumAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KisiAdi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KisiAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KisiAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Foto1, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Foto1, new { @class = "form-control", placeholder = "Resim Yolu", type = "file" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Foto2, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Foto2, new { @class = "form-control", placeholder = "Resim Yolu", type = "file" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Foto3, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Foto3, new { @class = "form-control", placeholder = "Resim Yolu", type = "file" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aciklamalar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aciklamalar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Aciklamalar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
