﻿@model WebProje.Models.IlanVer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IlanVer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IlanTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IlanTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebSitesi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebSitesi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KurumAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KurumAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KisiAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KisiAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotograf1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fotograf1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotograf2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fotograf2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotograf3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fotograf3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklamalar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklamalar)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
