﻿@model WebProje.Models.IlanVer
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Details</h2>

<div>
    <h4>IlanVer</h4>
    <hr />
    <dl class="dl-horizontal">*@
        @*<dt>
                @Html.DisplayNameFor(model => model.IlanTipi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IlanTipi)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.Adres)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Adres)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.Tarih)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tarih)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.Telefon)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefon)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.WebSitesi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WebSitesi)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.KurumAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KurumAdi)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.KisiAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KisiAdi)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.Fotograf1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fotograf1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fotograf2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fotograf2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fotograf3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fotograf3)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.Aciklamalar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Aciklamalar)
            </dd>*@

    @*</dl>
</div>*@
@*@if(Model.Kullanicilar.Id==User.Identity.GetUserId())
    {

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    }*@


<div id="fh5co-pricing">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">

                <h2>İLAN DETAYLARI</h2>
            </div>
        </div>
        <div class="row">
            <div class="pricing">

                <div class="col-md-3 animate-box" style="width:100% ; height:100% ">
                    <div class="price-box">
                        <h2 class="pricing-plan">@Html.DisplayFor(model => model.KurumAdi)</h2>
                        <ul class="classes">


                            <li>@Html.DisplayNameFor(model => model.IlanTipi)</li>
                            <li class="color">@Html.DisplayFor(model => model.IlanTipi)</li>

                            <li>@Html.DisplayNameFor(model => model.Tarih)</li>
                            <li class="color">@Html.DisplayFor(model => model.Tarih)</li>

                            <li>@Html.DisplayNameFor(model => model.Telefon)</li>
                            <li class="color">@Html.DisplayFor(model => model.Telefon)</li>

                            <li>@Html.DisplayNameFor(model => model.KisiAdi)</li>
                            <li class="color">@Html.DisplayFor(model => model.KisiAdi)</li>

                            <li>@Html.DisplayNameFor(model => model.WebSitesi)</li>
                            <li class="color">@Html.DisplayFor(model => model.WebSitesi)</li>

                            <li>@Html.DisplayNameFor(model => model.Adres)</li>
                            <li class="color">@Html.DisplayFor(model => model.Adres)</li>

                            <li>@Html.DisplayNameFor(model => model.Aciklamalar)</li>
                            <li class="color">@Html.DisplayFor(model => model.Aciklamalar)</li>
                        </ul>


                        <div class="row animate-box"  height="40%" width="40%">
                            <div class="owl-carousel owl-carousel-fullwidth">

                                <div class="item">
                                    <div class="testimony-slide active text-center">
                                        <figure>
                                            <div class="price"><img src="@Html.DisplayFor(model => model.Fotograf1)" alt="user"></div>

                                        </figure>

                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimony-slide active text-center">
                                        <figure>
                                            <div class="price"><img src="@Html.DisplayFor(model => model.Fotograf2)" alt="user" ></div>

                                        </figure>

                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimony-slide active text-center">
                                        <figure>
                                            <div class="price"><img src="@Html.DisplayFor(model => model.Fotograf3)" alt="user" ></div>

                                        </figure>

                                    </div>
                                </div>

                            </div>
                        </div>
                        @if (Model.Kullanicilar.Id == User.Identity.GetUserId())
                        {

                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) 
                            </p>
                        }


                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

@*<li>:@item.WebSitesi</li>
                                    <li class="color">@item.Adres</li>
                                    <div class="price"><img src="@item.Fotograf1" alt="user" height="250" width="200"></div>
                                    <div class="price"><img src="@item.Fotograf1" alt="user" height="250" width="200"></div>
                                    <div class="price"><img src="@item.Fotograf1" alt="user" height="250" width="200"></div>


                                </ul>

                                <a href="@Url.Action("Details","IlanVers", new { id = item.ID })" class="btn btn-select-plan btn-sm">İlanı İncele</a>

                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>*@
