﻿@model IEnumerable<WebProje.Models.IlanVer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<p>
    @Html.ActionLink("Kayıt Ekle", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Kurum veya kişi adına göre ara : @Html.TextBox("Arama")
        <input type="submit" value="Ara"/>

    </p>

}


<div style="overflow-x:scroll">
    <table class="table" width="200" height="200">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IlanTipi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.ActionLink("Tarih","Index",new {siralama = ViewBag.DateSortParm })
                @*@Html.DisplayNameFor(model => model.Tarih)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebSitesi)
            </th>
            <th>
                @Html.ActionLink("KurumAdi", "Index", new { siralama = ViewBag.NameSortParm })


                @*@Html.DisplayNameFor(model => model.KurumAdi)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KisiAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotograf1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotograf2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotograf3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklamalar)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.IlanTipi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarih)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebSitesi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KurumAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KisiAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fotograf1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fotograf2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fotograf3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklamalar)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Detaylar", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>