﻿@model  List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<h2>ROLLER</h2>
<div style="text-align:center">


    @foreach (var item in Model)
    {
        <p>@item.Name - @item.Users.Count</p>
    }

  <p>  @Html.ActionLink("Rol Ekle", "RolEklemek", "RolYonetimi")</p>

    <p>   @Html.ActionLink("Role Kullanıcı Ekle", "rolkullaniciekle", "RolYonetimi")</p>


</div>