﻿
@model WebProje.Models.RolEkleModel
@{
    ViewBag.Title = "RolEklemek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ROL EKLE</h2>
<div style="text-align:center">

    @using (Html.BeginForm("RolEklemek", "RolYonetimi", FormMethod.Post))
    {
        <p> @Html.TextBoxFor(m => m.rolad, new { required = "required" })</p>

        <p> <input type="submit" class="btn btn-primary" value="EKLE" /></p>

    }
    @Html.ActionLink("Listeye Dön", "Index", "RolYonetimi")


    </div>