﻿@model WebProje.Models.RolKullaniciEkleModel

@{
    ViewBag.Title = "rolkullaniciekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ROL Kullanıcı EKLE</h2>
<div align="center">
    
    @using (Html.BeginForm("rolkullaniciekle", "RolYonetimi", FormMethod.Post))
    {<ul>
        <li> @Html.LabelFor(m => m.KullaniciAdi)</li>
        <li>@Html.TextBoxFor(m => m.KullaniciAdi)</li>

        <li> @Html.LabelFor(m => m.RolAdi)</li>
        <li> @Html.TextBoxFor(m => m.RolAdi)</li>

        <li></li>
    </ul>
            <input type="submit" class="btn btn-primary" value="EKLE" />

        }
    @Html.ActionLink("Listeye Dön", "Index", "RolYonetimi")
</div>

