﻿@model  List<WebProje.Models.Arkadas>


<div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Son İlanlar</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row animate-box">
                    <div class="owl-carousel owl-carousel-fullwidth">


                        @foreach (var item in Model)
                        {
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="@item.Kullanicilar.Resim" alt="user">
                                    </figure>
                                    <span>@item.Kullanicilar.Ad</span>
                                    <blockquote>
                                        <p>&ldquo; @item.ArkadasDetay &rdquo;</p>
                                    </blockquote>
                                </div>
                            </div>
                        }





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


