﻿@using WebProje.Models;    
<!DOCTYPE HTML>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@ViewBag.Title &mdash; Sakarya'nın tüm yurt ve apartları burada</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Sakarya Ogrenci Ev ve Apartları" />
        <meta name="keywords" content="yurt,apart,sakarya,ogrenci,adapazari,serdivan,hendek,sapanca,ev" />
        <meta name="author" content="muratozdemir" />
        <!--
        //////////////////////////////////////////////////////

        Murat Özdemir
        DESIGNED & DEVELOPED by mrtzdmrr

        Website: 		mrtzdmrr.com
        Email: 			mrtzdmrr@gmail.com
        Instagram: 		mrtzdmrr
        Facebook: 		Murat Özdemir

        //////////////////////////////////////////////////////
         -->
        
        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content="" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:description" content="" />
        <meta name="twitter:title" content="" />
        <meta name="twitter:image" content="" />
        <meta name="twitter:url" content="" />
        <meta name="twitter:card" content="" />
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

        @Styles.Render("~/Content/css")           @*css dosyaları eklenir*@
        @Scripts.Render("~/bundles/modernizr")    @*modernizr eklenir*@
    </head>
    <body>

        <div class="fh5co-loader"></div>

        <div id="page">
            <nav class="fh5co-nav" role="navigation">
                <div class="top">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <p class="num">GSM: +90 537 346 78 00</p>
                                <ul class="fh5co-social">
                                   <li>@Html.Partial("_LoginPartial")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-2">
                                <div id="fh5co-logo"><a href="@Url.Action("Index", "Home")">OGRENCISARAYI<span>.</span></a></div>
                            </div>
                            @{ 
                                menusecenekler csayfa = menusecenekler.anasayfa;
                                if (HttpContext.Current.Session["csayfa"] != null)
                                {
                                    csayfa = (menusecenekler)HttpContext.Current.Session["csayfa"]; /*menusecenekler.anasayfa; bunu yazmayı unutmulum sory*/
                                }
                                }
                            <div class="col-xs-10 text-right menu-1">
                                <ul>
                                    <li class="@Html.Raw(csayfa == menusecenekler.anasayfa ? "active" : "")">@Html.ActionLink(WebProje.Resources.LayoutTexts.anasayfa, "Index", "Home")</li>
                                    <li class="has-dropdown @Html.Raw(csayfa == menusecenekler.yurtlar ? "active" : "")">
                                        @Html.ActionLink(WebProje.Resources.LayoutTexts.yurtlar, "YurtBul", "Home")</a>
                                        <ul class="dropdown">
                                            <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.yurtbul, "YurtBul", "Home")</li>
                                            <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.ilanver, "Create", "IlanVers")</li>
                                         </ul>
                                    </li>
                                    <li class="has-dropdown  @Html.Raw(csayfa == menusecenekler.apartlar ? "active" : "")" >
                                        @Html.ActionLink(WebProje.Resources.LayoutTexts.apartlar, "ApartBul", "Home")</a>
                                        <ul class="dropdown">
                                            <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.ilanbul, "ApartBul", "Home")</li>
                                            <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.ilanver, "Create", "IlanVers")</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.arkadasedin, "Create", "Arkadas" ,null,new { @class = csayfa == menusecenekler.anasayfa ? "active" : "" })</li>
                                    <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.yorumlar, "Create", "Yorums",null, new { @class = csayfa == menusecenekler.apartlar ? "active" : "" })</li>
                                    <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.iletisim, "Contact", "Home",null, new { @class = csayfa == menusecenekler.apartlar ? "active" : "" })</li>
                                    <li>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null)</li>
                                    <li>@Html.ActionLink("Türkçe", "Change", "Language", new { LanguageAbbrevation = "tr" }, null)</li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
              
            </nav>


            @RenderBody();



            <footer id="fh5co-footer" class="fh5co-bg" style="background-image: url(/images/img_bg_1.jpg);" role="contentinfo">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row row-pb-md">
                        <div class="col-md-4 fh5co-widget">
                            <h3>@WebProje.Resources.LayoutTexts.bizkimmiyiz</h3>
                            <p>@WebProje.Resources.LayoutTexts.bizsuan</p>
                            <p><a class="btn btn-primary" href="/Account/Register"> @WebProje.Resources.LayoutTexts.bizekatilin </a></p>
                        </div>
                        <div class="col-md-8">
                            <h3>@WebProje.Resources.LayoutTexts.hizmetler</h3>
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <ul class="fh5co-footer-links">
                                    <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.yurtbul, "YurtBul", "Home")</li>
                                    <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.apartbul, "ApartBul", "Home")</li>
                                    <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.arkadasbul, "Create", "Arkadas")</li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <ul class="fh5co-footer-links">
                                    <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.yurtilaniver, "Create", "IlanVers")</li>
                                    <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.apartilaniver, "Create", "IlanVers")</li>
                                    <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.arkadasilaniver, "Create", "Arkadas")</li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <ul class="fh5co-footer-links">
                                    <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.yorumlar, "Create", "Yorums")</li>
                                    <li>@Html.ActionLink(WebProje.Resources.LayoutTexts.iletisim, "Contact", "Home")</li>
                                   


                                    <li>@Html.ActionLink("Admin", "Index", "AdminAnaSayfa")</li>



                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="col-md-12 text-center">
                            <p>
                                <small class="block">&copy; @DateTime.Now.Year ISTANBUL/TURKEY</small>
                                <small class="block">Designed by Murat Özdemir </small>
                            </p>
                            <p>
                                <ul class="fh5co-social-icons">
                                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
        </div>

      
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)


    </body>
</html>


   

